<!DOCTYPE html>
<html>

<head>
    <title>HealthLedger | Home | Doctor</title>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script type="text/javascript" src="/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>-->
    <script type="text/javascript" src="/materialize.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"> -->
    <link rel="stylesheet" href="/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="https://cdn.rawgit.com/anaskhan96/HealthLedger/master/public/style_profile.css" rel="stylesheet">-->

    <link href="/style_profile.css" rel="stylesheet">
    <style>
        .card-content {
            overflow: hidden;
            max-height: 172px;
        }
        
        #encase {
            z-index: 2;
            background-color: rgba(255, 255, 255, 0.8);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
        }
        
        .blown-up {
            z-index: 3;
            position: fixed;
            top: 20%;
            left: 20%;
            right: 20%;
            bottom: 20%;
            width: inherit !important;
            overflow: none !important;
            max-height: none !important;
        }
        
        .blown-content {
            overflow: none;
            max-height: none;
        }
    </style>
</head>

<body>
    <header>
        <h3>Welcome to Health Ledger</h3>
    </header>
    <main>
        <div class="jumbo"></div>
        <div class="big-icon"></div>
        <div class="details">
            <h3>Dr. <%= obj.name %></h3>
            <p><%= obj.ID %></p>
        </div>

        <div class="container bio">
            <div class="title">
                <h6>Personal Information</h6>
            </div>
            <div>
                <p><i>ID:</i> <%= obj.ID %></p>
                <p><i>Name:</i> <%= obj.name %></p>
                <p><i>DOB:</i> <%= obj.dob %></p>
            </div>
            <hr />
        </div>
        
        <div class="search_list">
            <h5>Patient ID</h5>

            <form method="POST" action="/ledger/doctor">
                <input type="text" id="patient_search" name="patientID" placeholder="Type Patient ID here..." title="Type in a name">
                <button class="button" type="submit"><span>Search </span></button>
            </form>

            <hr>

            <!--<h5 style="margin-top: 4rem;">OR</h5>-->
            <a href="/ledger/patient-form">
            <button class="button" style="width: 30%; margin-top: 4rem;"><span>Add/Update Patient </span></button>
            </a>

            <hr>

            <form method="POST" action="/ledger/doctor">
                <input type="text" id="patient_search" name="rpid" placeholder="Type Patient ID here..." title="Type in a name">
                <button class="button" type="submit"><span>Remove Patient </span></button>
            </form>
        </div>
    </main>

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Created By:</h5>
                    <p class="grey-text text-lighten-4">Anas Alim Khan</p>
                    <p class="grey-text text-lighten-4">Anvith Shetty</p>
                    <p class="grey-text text-lighten-4">Avinash Shenoy</p>

                </div>
                <div class="col l4 offset-l2 s12">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; 2017 Copyright
            </div>
        </div>
    </footer>
    <script>
        disease = "";
        prescribed = "";
        prescribedBy = "";
        allergy = "";
        insurance = "";
        premium = "";
        coverage = "";
    </script>

</body>

</html>